# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# react ignore file from react (frontend folder)
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.produxction.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# django ignore file
# default django
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
upload_media

# dotenv setup
.env

# ignore this virtualenv
.myenv/

# personalized
notes.txt
db99.sqlite3


